/* Z-index of #mask must lower than #boxes .pb_window */
#mask {
	z-index:9000;
	display:none;
	background-color:rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
}
div.pb_wrapper{
	overflow:hidden; 
	position:relative;
}
div.pb_caption {
	background-color:rgba(0,0,0,.5);
	position:relative;
	text-align:center;
	height: 35px;
	width: 50%;
	font-weight: bold;
	font-size: 12px;
	line-height: 35px;
	margin: 0 auto;
}
div.pb_caption a {
	color: #fff;
	text-decoration: none;
}
.hd{
	background-color:#fbfbfb; 
	padding:10px 10px 10px 12px; 
	color:#565656; 
	font-size:14px; 
	font-weight:bold;
	border: 1px solid #f4f4f4
}
.pb_close{
	float: right;
	background-image: url('../images/cross_sprite.png');
	height: 20px;
	width: 20px;
	background-position: 0 -27px;
}
.quick-product-img-box{
	margin:20px 20px 0px 10px; 
	width:220px;
	padding: 10px; 
}
.product-shop{
	margin-top: 20px;
}
.product-shop .product-name a{
	color: #333333;
	font-size: 20px;
}
.product-shop .product-name a:hover{
	text-decoration: none;
	color: #974358;
	font-size: 20px;
}
.in-stock{
	clear: both;
	color: #848484;
	line-height: 30px;
}
.quick_add_cart{
	display: block;
}
.quick-price-box{
	font-size: 16px;
	padding: 5px 0px;
}
.pb_window{
	margin-left: -416px;
	margin-top: -267px;
	width: 800px !important;
	height: auto !important;
	border: 1px solid #676767;
	box-shadow: 0 0 15px #676767;
	padding: 16px 15px 16px;
	left: 50%;
	top: 50%;
	background-color:#FFF;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	display:none;
	z-index:9999;
}
.popupBg{
	background-image: url('../images/bg-img.png');
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 30;
	left: 0;
	top: 0;
	display: none;
}
.qview-info-box{
	width: 355px;
	border-radius: 2px;
	background: #f5f5f5;
	border: 1px solid #d2d2d2;
	margin-bottom: 20px;
	margin-top: 15px;
	padding: 30px 30px 20px 30px;
}
.qview-info-box .price{
	font: bold 36px/36px arial;
	color: #222222 !important;
}
.quick_add_cart .quick-add{
	background: #f75b16;
	border: 1px solid #ec6723;
	background: -moz-linear-gradient(top,#f77219 1%,#fec6a7 3%,#f77219 7%,#f75b16 100%);
	background: -webkit-linear-gradient(top,#f77219 1%,#fec6a7 3%,#f77219 7%,#f75b16 100%);
	background: -o-linear-gradient(top,#f77219 1%,#fec6a7 3%,#f77219 7%,#f75b16 100%);
	background: -ms-linear-gradient(top,#f77219 1%,#fec6a7 3%,#f77219 7%,#f75b16 100%);
	background: linear-gradient(to bottom,#f77219 1%,#fec6a7 3%,#f77219 7%,#f75b16 100%);
	font-size: 18px;
	width: 232px;
	padding: 12px 0;
	color: #fff;
	float: none;
	margin-top: 5px;
}
.quick_add_cart .quick-add:hover{
	color: #fff;
}
.qview-info-box .in-stock{
	font-size: 14px;
	line-height: 50px;
}
.qview-info-box .show-more-detail{
	color: #666;
	font-size:13px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	display: block;
	margin-top: 15px;
}
.qview-info-box .show-more-detail:hover{
	color: #2271b2;
}
.qview-info-box .add-to-cart{
	margin-top: 10px;
}
.qview-footer{
	text-align: center;
	padding-top: 15px;
	border-top: 1px solid #dddddd;
}